a {
    text-decoration: none;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1000px !important;
    }
}


/* tui 에디터 스타일 */
.v-application code:after {
    content: none !important;
}

.v-application code {
    box-shadow: none !important;
    font-weight: normal;
}

.tui-editor-contents pre {
    background-color: #282c34 !important;
    margin-top: 8px !important;
    margin-bottom: 20px;
}

.tui-editor-contents hr {
    border-top: 1px solid black !important;
    margin: 40px 0;
}

.tui-editor-contents p {
    font-size: 1.2rem;
    font-weight: 550;
}

.tui-editor-contents ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tui-editor-contents li {
    margin: 6px 0;
    font-size: 1rem;
}

.tui-editor-contents pre code {
    color: #abb2bf;
    font-size: 15px !important;
}

.tui-editor-contents blockquote {
    padding: 10px 20px;
    background: #f5f5f5;
}

.tui-editor-contents blockquote p {
    font-size: 1rem;
}

.tui-editor-contents .hljs-meta {
    color: #1b8620;
}

.tui-editor-contents h1 {
    padding-bottom: 15px;
}

.tui-editor-contents h2 {
    padding-bottom: 15px;
    font-size: 1.4rem;
}

.tui-editor-contents h3, h4 {
    margin-bottom: 20px !important;
    margin-top: 30px !important;
}

.tui-editor-contents span {
    font-weight: normal !important;
}

.tui-editor-contents h3 {
    font-size: 1.4rem;
}

.hljs-class .hljs-title, .hljs-type {
    color: #dcb828;
    font-weight: 700;
}

.row {
    margin: 0 auto !important;
}

blockquote {
    border-left: 4px solid #b8b8b8 !important;
}

.tui-editor-contents code:before {
    content: none !important;
}

.tui-editor-contents code {
    font-size: 14px !important;
    max-width: 100%;

}

.hljs-keyword {
    color: #82b1ff !important;
}

.hljs-params {
    color: coral !important;
}

/* 캘린더 스타일 */
.v-calendar-monthly .v-present button {
    background-color: #82b1ff !important;
}

.v-calendar-monthly .v-calendar-weekly__day-label {
    margin-bottom: 4px;
}

.v-calendar-daily .v-calendar-daily__interval-text {
    color: white !important;
}

.v-calendar-daily__intervals-body {
    margin-top: 4px !important;
}

.v-menu__content.theme--light.menuable__content__active {
    min-width: auto !important;
}
